*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
header{
    background-image: url(pics/lumin1.png);
    background-size: 100% 120%;
    background-repeat: no-repeat;
    height: 100vh;
    width:100%;
    position: relative;
}
.topnov{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    border:2px solid rgba(255,55,255,0.18);
    position: fixed;
    width:100%;
    z-index: 1;
    padding: 0.5em;

}
.topnov3 a{
    color: black;
}
.topnov3{
    display: flex;
    gap:2em
}
.topnov3 i:hover{
    color: pink;
    cursor: pointer;
}
.topnov2{
    display: flex;
    gap:1.9em;
}
.topnov2 a{
    text-decoration: none;
    color: black;
}
.topnov2 a:hover{
    border-bottom: 2px solid pink;
    width:50%;
}
.mainpage1 h1{
    position: absolute;
    top:30%;
    text-align: center;
    left:5%;
    font-size: 4.5em;
    font-weight: 800;
}
.cart{
    position: absolute;
    top:50%;
    left: 65%;

}
.cart{
    box-shadow: 0px 0px 7px 0px palevioletred;
    width:30%;
    background-color: rgba(250, 235, 215, 0.52);
    padding: 1em;
    margin-top: 5%;
    border-radius: 10px;
    letter-spacing: 1px;
}
 .mainpage button{
    background-color: black;
    color: white;
    padding: 0.9em;
    border: none;
    position: absolute;
    left: 10%;
    top:80%;
    /* border-radius: 30px; */
}
.mainpage button:hover{
    background-color: white;
    color: black;

}
.main{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    /* margin-left: %; */
    gap:2em;
}
.main img{
    width:60%
}
.main2 img{
    width:75%;
}
.main1 p{
    width:75%;
    text-align: center;
    margin-left: 12%;

}
.main2 p{
    width:75%;
    text-align: center;
    margin-left: 12%;
}
.main3 p{
    text-align: center;
    width:75%;
    margin-left: 12%;
}
.main1,.main2,.main3{
    /* border: 1px solid; */
    text-align: center;
    /* box-shadow: 0px 0px 7px 0px palevioletred; */
    border-radius: 10px;
}
section{
    /* background-color: #f5538f; */
}
.about{
    display: flex;
    gap:15em;
    align-items: center;

}
.about1 img{
    margin:1em;
    width:30vw;
    height: 60vh;
    margin-top: 20%;
    margin-left: 30%;
    border-radius:5px

}
.about1{
    /* border: 2em solid black; */
    margin-left: 5%;
    background-color: black;
    width:30vw;
    height: 85vh
}
.about2{
    width:40%;
    font-size: 1.3em;
    letter-spacing: 1px;
}
.about2 button{

    background-color: black;
    color: white;
    padding: 0.5em;
    border: none;
}
.benefits img{
    width:30%;
}
.benefits{
    /* display: grid;
    grid-template-columns: auto auto auto; */
    display: flex;
    text-align: center;
    /* justify-content: space-aroun; */
}
.benefit1 p{
    width:60%;
    text-align: center;
    margin-left: 18%;

}
.benefit2 p{
    width:60%;
    text-align: center;
    margin-left: 20%;
}
.benefit3 p{
    text-align: center;
    width:60%;
    margin-left: 18%;
}
.benefit2{
    margin-top:1%
}
.benefit3{
    margin-top:1%
}
.test{
    display: flex;
    gap:2em;
    justify-content: space-around;
    align-items: center;
}
.test2 img{
    width:90%;
    height: 80vh;
    margin-top: 20%;
}
.test1{
    margin-left: 20%;
}
.test1 h1{
width:70%;
font-size:3em;
}
.test1 button{
background-color: black;
    color: white;
    padding: 1em;
    border: none;
    font-size: 1em;

}
.what{
    position: relative;
    background-image: url(pics/lumin1.png);
    background-size: 100%;
}
.para{
    position: absolute;
    background-color: black;
    color: white;
    top:68%;
    left:43%;
    width:30%;
}
.para p{
    width:100%;
    text-align: justify;
    padding: 1em;
}
.ab{
    background-image: url(pics/lumin1.png);
    height: 100vh;
}
.mar img{
    width:40%;
    height: 10%;
    padding: 20px;

}
.mar {
    display: flex;
    align-items: center;
}
.play{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:space-evenly;
    gap:2em;
    margin-left: 10%;


}
.play1 i{
    color: rgba(255, 255, 0, 0.877);
    padding: 3px;

}
.play1{
    border: 1px solid;
    height:47vh;
    padding: 15px;
    width:80%;
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    border:2px solid rgba(255,55,255,0.18);
    
}
.play1:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.testy1{
    display: flex;
    gap:2em;
    font-size: 0.8em;
}
.testy1 img{
    border-radius: 100px;
}
.foot{
    display: flex;
    align-items: center;
    gap:9em
}
.foot1{
    background-color: black;
    width:40%;
    height: 60vh;
    margin-left: 5%;
}
.foot1 img{
    width:100%;
    margin-left: 15%;
    margin-top: 8%;
}
.foot2{
    width:50%;
}
.foot2 button{
    background-color: black;
    color: white;
    padding: 0.5em;
    border: none;

}
.foot2 input{
    padding: 0.5em;
    width:60%

}
.dark{
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    background-color: black;
    color: white;
}
.dark1{
    margin-left: 10%;
    padding: 5%;
}
.dark1 i{
    padding: 10px;
    color:palevioletred ;
    font-size: 1.5em;
}
.dark1 p{
    width:50%;
}
.darker{
    background-color: black;
}
.dark2{
    padding: 5%;
    margin-top: 5%;
}
.dark2 li{
    list-style-type: none;
    padding: 5px;
}
.dark2 h4{
    margin-left: 12%;
}
.text {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}
.text.visible {
    opacity: 1;
}
@media (width<=600px){
    body{
        width:600px;
    }
    .topnov{
        width:600px;
        font-size: 0.8em;
    }
    header{
        height:120vh;
    }
    .topnov2{
        gap:0.8em;
    }
    .cart{
        position: absolute;
        top:65%;
        left:45%;
        width:50%;
        height:30%;
    }
    .mainpage1 h1{
        top:20%;
        font-size: 4.5em;
    }
    .main1 p,.main2 p,.main3 p{
        font-size: 0.7em;
    }
    .main1 h2,.main2 h2,.main3 h2{
        font-size: 1em;
    }
    .ab{
        height: 80vh;
        /* background-image: 100% 100%; */
    }
    .about{
        gap:5em;
    }
    .about1 img{
        width:50vw;
    }
    .about1{
        height: 70vh;
        margin-left: 10%;
        width:50vw;
    }
    .about2 p{
        font-size: 0.7em;
    }
    .benefit1 p,.benefit2 p,.benefit3 p{
        font-size: 0.6em;
    }
    .benefit1 h2,.benefit2 h2,.benefit3 h2{
        font-size: 1em;
    }
    .test1{
        font-size: 0.8em;
        margin-left: 5%;
    }
    .test2 img{
        margin-left: 0;
        height: 60vh;
    }
    .para{
        left:30%;
        font-size: 0.7em;
        width:50%;
        top:60%;
    }
    .testimon{
        width:600px;
    }
    .play{
        display: flex;
        flex-direction: column;
        margin-left: 15%;
    }
    .play1{
        height: 15%;
    }
    .foot{
        gap:3em;
    }
    .foot1{
        height: 50vh;
    }
    .foot1 img{
        margin-top: 30%;
        height: 30vh;
    }
    .foot2 input{
        width:70%
    }
    .foot2 button{
        padding: 0.2em;
        margin: 0.2em;
        

    }
    .mar img{
        width:70%;
    }
    .dark{
        font-size: 0.6em;
    }
    .dark1 h4,.dark2 h4,.dark3 h4,.dark4 h4{
        font-size: 1.3em;
    }
    .dark2 h4{
        margin-left: 30%;
    }
    .darker p{
        font-size: 0.6em;
    }
}